/ANNIS4-build
/build*
/data
/relannis
CMakeLists.txt.user
*.*~
/nbproject/private/
/annis-benchmark-generator/target/
/annis-benchmark-generator/nbproject/
/testexecution_annis4.log
.Rproj.user
/graphannis-api/nbproject/
/graphANNIS-console/target/
/graphannis-console/target/
/annis4_history.txt
/benchmark_annis4.log
/graphannis-utils/target/